{##
 # Connect widget
 #
 #}

{{ widget('\\XLite\\Module\\XPay\\XPaymentsCloud\\View\\Config\\HTTPSWarning') }}
{{ widget('\\XLite\\Module\\XPay\\XPaymentsCloud\\View\\Config\\RegisterInfo') }}

<div id="xpayments-iframe-container"></div>

<script>
  var xpaymentsConnectConfig = {
      container: '#xpayments-iframe-container',
      topElement: '#main',
      quickAccessKey: '{{ this.getXpaymentsPaymentMethod().getSetting('quickaccess_key') }}',
      account: '{{ this.getXpaymentsPaymentMethod().getSetting('account') }}',
      applePayOnly: '{{ this.isXpaymentsApplePay() }}',
  };
  var xpaymentsConnectWrapperConfig = {
      justAdded: {% if (this.getXpaymentsJustAdded()) %}1{% else %}0{% endif %},
      xpaymentsMethodId: {{ this.getXpaymentsPaymentMethod().getMethodId() }},
      currentMethodId: {{ this.paymentMethod.getMethodId() }},
  };
</script>

{{ widget('\\XLite\\Module\\XPay\\XPaymentsCloud\\View\\ConnectionKey') }}
